/* ---------- Comeau Reset ---------- */

/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin. */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations. */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height. */
  line-height: 1.5;
  /* 5. Improve text rendering. */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults. */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls. */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows. */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping. */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context (Always select top-level element the application is rendered within; for example, in create-react-app which uses <div id="root">, #ROOT would be the correct selector).
*/
#ROOT,
#__NEXT {
  isolation: isolate;
}

/* ---------- Global Styles ---------- */

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* ---------- Layout ---------- */

.app-shell {
  padding: 3rem 5rem;
}

.books-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, .20fr));
  justify-content: center;
  gap: 1.5rem;
}

.book-card {
  aspect-ratio: 1 / 1.5;
  height: auto;
}

.book-action-icon {
  width: 2rem;
  height: 2rem;
}

.book-action-button {
    display: flex;
    align-items: center;
}

/* ---------- Styles ---------- */

body {
    background-color: rgb(206, 193, 128);
}

.book-card {
    background-color: aquamarine;
    border: 1px solid rgb(82, 163, 136);
}