/* ---------- Comeau Reset ---------- */

/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin. */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations. */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height. */
  line-height: 1.5;
  /* 5. Improve text rendering. */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults. */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls. */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows. */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping. */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context (Always select top-level element the application is rendered within; for example, in create-react-app which uses <div id="root">, #ROOT would be the correct selector).
*/
#ROOT,
#__NEXT {
  isolation: isolate;
}

/* ---------- Global Styles ---------- */

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ---------- Layout and Locally Scoped Styles ---------- */

body {
  background-color: rgb(135, 124, 164);
}

.app-shell {
  padding: 3rem 5rem;
}

.books-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 0.27fr));
  justify-content: center;
  gap: 2.5rem;
}

.book-card {
  position: relative;
  /* Stay book-shaped by maintaining width to height ratio.  */
  aspect-ratio: 1 / 1.4;
  /* Isolate the z-index stacking of children so that they don't affect other page elements.  */
  isolation: isolate;
  /* Make container queryable so we can check its width as it scales. */
  container-type: inline-size;
  /* Query 10% of width so '3D' page-thickness scales with container. */
  --page-thickness: 10cqw;
  /* Overlap for hiding anti-aliasing seams at miter of 'page strip' pseudo elements. */
  --page-miter-overlap: 1px;
  /* Overlap for hiding anti-aliasing seams revealed at certain screen sizes, 
  and background revealed when .book-cover's corners are rounded off. */
  --book-cover-overlap: 3px;

  --page-gradient:
    #857b66 0px, #a4a48b 1px, #a79a7d 2px, #cfc090 4px, #857b66 4px,
    #cfc090 5px, #857b66 5px, #decf9e 7px, #d0aa59 7px, #cfc090 8px,
    #9d9478 8px, #ebdfb7 10px;

  --book-cover-color: #316a53;
  --back-book-cover-reveal: 5px;
  --perspective-skew: 2%; 
  /* Temporarily distinguish background color of this container while
     we establish its clip path to suggest book back binding and inside of back cover.  */
  background: #224a3a;
}

.book-cover {
  opacity: 75%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--back-book-cover-reveal) - var(--page-thickness) + var(--book-cover-overlap));
  height: calc(100% - var(--back-book-cover-reveal) - var(--page-thickness) + var(--book-cover-overlap));

  /* Ensure book cover overlaps page strip pseudo elements by rendering it on top. */
  z-index: 1;
  padding: 1rem 1rem;

  border-radius: 5px 5px 5px 5px;
  background-color: var(--book-cover-color);
}

/* Bottom book pages. */
.book-card::before {
  content: "";
  position: absolute;
  bottom: var(--back-book-cover-reveal);
  right: var(--back-book-cover-reveal);
  height: var(--page-thickness);
  width: calc(100% - var(--back-book-cover-reveal));
  /* Ensure page strip renders beneath book cover. */
  z-index: 0;

  background: repeating-linear-gradient(to bottom, var(--page-gradient));

  /* Clockwise coordinates. */
  clip-path: polygon(
    calc(0% + var(--back-book-cover-reveal)) 0%,
    calc(100% - var(--page-thickness) + var(--page-miter-overlap)) 0%,
    calc(100% + var(--page-miter-overlap)) 100%,
    calc(var(--page-thickness) + var(--back-book-cover-reveal) + var(--perspective-skew)) 100%
  );
}

/* Right side book pages. */
.book-card::after {
  content: "";
  position: absolute;
  /* top: 0; */
  bottom: var(--back-book-cover-reveal);
  right: var(--back-book-cover-reveal);
  width: var(--page-thickness);
  height: calc(100% - var(--back-book-cover-reveal));
  /* Ensure page strip renders beneath book cover. */
  z-index: 0;

  background: repeating-linear-gradient(to right, var(--page-gradient));

  /* Clockwise coordinates. */
  clip-path: polygon(
    0% calc(0% + var(--back-book-cover-reveal)),
    100% calc(var(--page-thickness) + var(--back-book-cover-reveal) + var(--perspective-skew)),
    100% 100%,
    0% calc(100% - var(--page-thickness))
  );
}

.book-action-icon {
  width: 2rem;
  height: 2rem;
}

.book-action-button {
  display: flex;
  align-items: center;
}
